<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定对应Dao/Mapper接口-->
<mapper namespace="co.jsp.mapper.UserinfoMapper">
    <!-- id名与hobbymapper类中的方法名一致 ,parameterType指的是传入参数的类型-->
    <insert id="save" parameterType="co.jsp.entity.Userinfo">
       insert into userinfo(username,password,sex,major,intro) values(#{username},#{password},#{sex},#{major},#{intro})
    </insert>
    <update id="deluserinfo" >
       update userinfo set delFlg='1' where username = #{username}                     
    </update>

    <select id="findUserInfoANDHobby" resultType="co.jsp.entity.UserinfoHobby">
         select userinfo.username,password,sex,major,intro,hobby from userinfo
         left join hobby
         on userinfo.username = hobby.username where sex=#{sex} and userinfo.delFlg='0'
         <if test='username != ""'>
         and userinfo.username =#{username}
         </if>
         <if test='major != ""'>
         and major =#{major}
         </if>
    </select>   
 
    <select id="checkUserName" resultType="co.jsp.entity.Userinfo">
        select * from userinfo 
        where delFlg = '0' and userinfo.username =#{username}

    
    </select>
        <select id="findUserInfoANDHobbyByUsername" resultType="co.jsp.entity.UserinfoHobby">
        select userinfo.username,password,sex,major,intro,hobby from userinfo
        left join hobby
        on userinfo.username = hobby.username where 
        userinfo.delFlg = '0'
        and userinfo.username =#{username}
    
    </select>
</mapper>

